$flashcardBorderColor: 1px solid #444;
$radius: .5rem;

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.page {
		margin-top: 2rem;
	}

	.pageBaseVerbs {
		table {
			margin-bottom: 1rem;

			td {
				background-color: #222;
				padding: .5rem;
				width: 5.5rem;
			}

			td.verb {
				background-color: #111;
				font-weight: bold;

				a {
					text-decoration: none;
					color: yellow;
				}
			}

			tr.part {
				span {
					color: rgb(148, 148, 62);
				}
			}

			tr.pres {
				span {
					color: rgb(59, 150, 59);
				}
			}

			tr.impe {
				span {
					color: rgb(189, 135, 35);
				}
			}

			tr.pret {
				span {
					color: rgb(102, 102, 177);
				}
			}

			tr.futu {
				span {
					color: rgb(146, 59, 59);
				}
			}

			tr.cond {
				span {
					color: rgb(150, 4, 4);
				}
			}

			tr.subj {
				span {
					color: rgb(204, 96, 181);
				}
			}

		}
	}

	.pageImport {
		form {
			.row {
				label {
					display: block;
				}

				textarea {
					width: 50rem;
					height: 20rem;
					background-color: #ccc;
					font-size: 1rem;
				}
			}

			.buttonArea {
				margin-top: 1rem;
			}
		}

		pre {
			background-color: #222;
			padding: 1rem;
			width: 48.5rem;
		}
	}

	.pageLearn {
		.flashcards {

			.flashcard {
				width: 30rem;
				margin-bottom: 1rem;

				.front {
					background-color: #1a1a1a;
					padding: 1rem;
					border-top: $flashcardBorderColor;
					border-left: $flashcardBorderColor;
					border-right: $flashcardBorderColor;
					border-radius: $radius $radius 0 0;
					color: #999;
					cursor: pointer;
				}

				.back {
					background: #111;
					padding: 1rem;
					border-bottom: $flashcardBorderColor;
					border-left: $flashcardBorderColor;
					border-right: $flashcardBorderColor;
					border-radius: 0 0 $radius $radius;
					color: rgb(196, 196, 91);
				}
			}
		}
	}
}