$flashcardBorderColor: 1px solid #444;
$radius: .5rem;

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}

	.pageLearn {
		.flashcards {
			margin-top: 2rem;

			.flashcard {
				width: 30rem;
				margin-bottom: 1rem;

				.front {
					background: #1a1a1a;
					padding: 1rem;
					border-top: $flashcardBorderColor;
					border-left: $flashcardBorderColor;
					border-right: $flashcardBorderColor;
					border-radius: $radius $radius 0 0;
					color: #999;
				}

				.back {
					background: #111;
					padding: 1rem;
					border-bottom: $flashcardBorderColor;
					border-left: $flashcardBorderColor;
					border-right: $flashcardBorderColor;
					border-radius: 0 0 $radius $radius;
					color: rgb(196, 196, 91);
				}
			}
		}
	}
}